.linee {
    border: 1px solid white;
    width: 120px;
    margin: 0 auto;
}

.container {
    
    padding: 20px 0; 
}

.imageRow {
    display: flex; 
    justify-content: center; 
    flex-wrap: wrap; 
}

.chasiBox {
    margin: 10px; 
    text-align: center; 
    width: 240px; 
}

.imgSix {
    width: 240px;
    height: 300px;
    background-color: #191B1C;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.titlee{
    text-align: center;
}